altgraph==0.17.4
macholib==1.16.3
packaging==25.0
pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pyperclip==1.9.0
pyside6==6.9.2
pyside6-addons==6.9.2
pyside6-essentials==6.9.2
setuptools==80.9.0
shiboken6==6.9.2
sqlglot==27.10.0
